a:link, a:visited{
  background-color: red;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active{
  background-color: red;
}
body{
    background-color : black; 
    color : white;
}
#bgimg{
    background-image: url("Images/computers-components-wallpaper-2.jpg");
}
#bgnone{
    background-color: transparent
}
#blknred{
    color: red;
    background-color: black;
}
#bgwhite{
    background-color: white;
    
}

#bgred{
    background-color: red;
}

#bgblack{
    background-color: black;

}